* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    margin: 25px 10px 0 0;
    text-transform: uppercase;
}
svg {
    color: #fff;
    fill: #fff;
}
a, a:focus{
    text-decoration: none;
    text-align: center;
}
a svg {
    text-decoration: none;
    text-align: center;
    vertical-align: sub;
}
.text-danger {
    height: 20px;
    display: block;
    margin: 5px 0 10px 0;
    font-size: 14px;
}
.card-header:first-child {
    background: #363636;
    color: #fff;
    text-transform: uppercase;
}